/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" ,sans-serif;
}


a{
  text-decoration: none;

} */

/*

aita pore add korsi vdo dekhe
*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

h1 {
  color: #333;
}

button {
  /* background-color: #007bff; */
  color: rgb(0, 0, 0);
  border: none;
  padding: 5px 5px;
  
  border-radius: 4px;
  cursor: pointer;
  font-size: 30px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

p {
  color: #666;
}
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  background-color: #eef2f5;
}

button {
  font-family: inherit;
  font-weight: bold;
}

h1,
p {
  margin: 0;
}
select {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  appearance: none;
  cursor: pointer;
  margin-top: 1rem;
}

select:focus {
  outline: none;
  border-color: #010301;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}