.doctor-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* center horizontally */
}

.doctor-title {
    font-size: 24px;
    text-align: center;
}

.doctor-form {
    margin-top: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doctor-form input {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    box-sizing: border-box;
}

.doctor-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    word-wrap: break-word;
    word-break: break-word;
    overflow-x: auto;
    display: block;
    white-space: nowrap;
}

.doctor-table th,
.doctor-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.doctor-table button {
    padding: 6px 12px;
    margin: 2px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.doctor-table button:nth-child(1) {
    background-color: #facc15;
    /* yellow-400 */
    color: #fff;
}

.doctor-table button:nth-child(2) {
    background-color: #ef4444;
    /* red-500 */
    color: #fff;
}

.doctor-table::-webkit-scrollbar {
    height: 8px;
}

.doctor-table::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}